In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

### Aquí abro la primera ola de respuestas en pystoolkit

In [2]:
data1 = pd.read_csv('data.csv',index_col = False)

In [3]:
data1.head(3)

,participant,age:1,gender:1,noticias:1,antecedente_psiq:1,ndc:1,ndc:2,ndc:3,ndc:4,ndc:5,...,beck:21,previo:1,previo:2,previo:3,previo:4,proximo:1,country,TIME_start,TIME_end,TIME_total
0,s.442dabe3-038d-4177-8093-cad29ab46349.txt,23,1.0,3.0,2.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,"MX, Mexico",2020-03-27-21-59,2020-03-27-22-02,3.0
1,s.5eff0105-b85b-43c4-a8e2-ec88898f274a.txt,49,2.0,1.0,2.0,3.0,5.0,1.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,"MX, Mexico",2020-04-03-17-37,2020-04-03-18-01,24.0
2,s.2f4f0f16-10f9-4087-91e1-996f25d726ad.txt,18,2.0,1.0,2.0,4.0,4.0,1.0,4.0,2.0,...,1.0,0.0,0.0,0.0,1.0,1.0,"MX, Mexico",2020-04-01-01-12,2020-04-01-01-22,10.0

### Aquí abro la segunda ola de respuestas en psytoolkit

In [4]:
data2 = pd.read_csv('data(1).csv',index_col = False)

In [5]:
data2.head(3)

,participant,age:1,gender:1,noticias:1,antecedente_psiq:1,ndc:1,ndc:2,ndc:3,ndc:4,ndc:5,...,beck:21,previo:1,previo:2,previo:3,previo:4,proximo:1,country,TIME_start,TIME_end,TIME_total
0,s.dcd89188-069a-4275-8995-09e3e6b45d9b.txt,26.0,1.0,2.0,2.0,2.0,4.0,2.0,2.0,2.0,...,2.0,0.0,0.0,1.0,0.0,1.0,"MX, Mexico",2020-04-16-22-59,2020-04-16-23-08,9.0
1,s.0138202f-e9fc-4aa4-a2f7-7aaf8e4fabca.txt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"MX, Mexico",2020-04-21-01-03,NaN,NaN
2,s.9bf647bc-310b-4adf-8232-6c572e711642.txt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"MX, Mexico",2020-04-21-01-07,NaN,NaN

### Aquí junto ambos datasets para obtener uno solo sobre el cual trabajar

In [7]:
data = data1.append(data2)
data.head()

,participant,age:1,gender:1,noticias:1,antecedente_psiq:1,ndc:1,ndc:2,ndc:3,ndc:4,ndc:5,...,beck:21,previo:1,previo:2,previo:3,previo:4,proximo:1,country,TIME_start,TIME_end,TIME_total
0,s.442dabe3-038d-4177-8093-cad29ab46349.txt,23,1.0,3.0,2.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,"MX, Mexico",2020-03-27-21-59,2020-03-27-22-02,3.0
1,s.5eff0105-b85b-43c4-a8e2-ec88898f274a.txt,49,2.0,1.0,2.0,3.0,5.0,1.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,"MX, Mexico",2020-04-03-17-37,2020-04-03-18-01,24.0
2,s.2f4f0f16-10f9-4087-91e1-996f25d726ad.txt,18,2.0,1.0,2.0,4.0,4.0,1.0,4.0,2.0,...,1.0,0.0,0.0,0.0,1.0,1.0,"MX, Mexico",2020-04-01-01-12,2020-04-01-01-22,10.0
3,s.837f8d44-fe44-4f84-84e8-2e287df5adac.txt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"MX, Mexico",2020-04-09-05-11,NaN,NaN
4,s.9d49ad45-bde5-40ec-b9bb-8eab0bbfcc62.txt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"MX, Mexico",2020-04-09-04-50,NaN,NaN

### Aquí simplemente elimino todas aquellas entradas que hayan dejado, al menos, una pregunta sin responder




a su vez, hago unas correcciones al dataset para que se a más fácil de leer y entender

In [8]:
#Elimino todas las filas que tengan mínimo una entrada vacía 
data = data.dropna()
#Verifico mi base de datos
data.head()

,participant,age:1,gender:1,noticias:1,antecedente_psiq:1,ndc:1,ndc:2,ndc:3,ndc:4,ndc:5,...,beck:21,previo:1,previo:2,previo:3,previo:4,proximo:1,country,TIME_start,TIME_end,TIME_total
0,s.442dabe3-038d-4177-8093-cad29ab46349.txt,23,1.0,3.0,2.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,"MX, Mexico",2020-03-27-21-59,2020-03-27-22-02,3.0
1,s.5eff0105-b85b-43c4-a8e2-ec88898f274a.txt,49,2.0,1.0,2.0,3.0,5.0,1.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,"MX, Mexico",2020-04-03-17-37,2020-04-03-18-01,24.0
2,s.2f4f0f16-10f9-4087-91e1-996f25d726ad.txt,18,2.0,1.0,2.0,4.0,4.0,1.0,4.0,2.0,...,1.0,0.0,0.0,0.0,1.0,1.0,"MX, Mexico",2020-04-01-01-12,2020-04-01-01-22,10.0
5,s.8f9db3a9-cfe7-4281-9051-75522b8d2422.txt,20,1.0,2.0,2.0,4.0,4.0,1.0,1.0,2.0,...,0.0,0.0,0.0,1.0,0.0,1.0,"MX, Mexico",2020-04-01-06-09,2020-04-01-06-30,21.0
6,s.39ef9de8-8083-4e81-8e6a-136bf9d7401e.txt,45,2.0,2.0,2.0,3.0,5.0,1.0,3.0,3.0,...,0.0,0.0,0.0,0.0,1.0,1.0,"MX, Mexico",2020-04-08-05-09,2020-04-08-05-39,30.0

In [9]:
#Leo las columnas que hay en mi data
data.columns

Index(['participant', 'age:1', 'gender:1', 'noticias:1', 'antecedente_psiq:1',
       'ndc:1', 'ndc:2', 'ndc:3', 'ndc:4', 'ndc:5', 'ndc:6', 'ndc:7', 'ndc:8',
       'ndc:9', 'ndc:10', 'ndc:11', 'ndc:12', 'ndc:13', 'ndc:14', 'ndc:15',
       'ndc:16', 'ndc:17', 'ndc:18', 'igt:1', 'beck:1', 'beck:2', 'beck:3',
       'beck:4', 'beck:5', 'beck:6', 'beck:7', 'beck:8', 'beck:9', 'beck:10',
       'beck:11', 'beck:12', 'beck:13', 'beck:14', 'beck:15', 'beck:16',
       'beck:17', 'beck:18', 'beck:19', 'beck:20', 'beck:21', 'previo:1',
       'previo:2', 'previo:3', 'previo:4', 'proximo:1', 'country',
       'TIME_start', 'TIME_end', 'TIME_total'],
      dtype='object')

In [30]:
# Aquí calculo el promedio de respuesta tanto para el ndc como para el beck

#Paso todos los datos a resultados enteros
#data = data.astype(int)
#Calculo el promedio para las preguntas del ndc
data['promedio ndc'] = (data['ndc:1']+data['ndc:2']+data['ndc:3']+data['ndc:4']+data['ndc:5']+data['ndc:6']+
                       data['ndc:7']+data['ndc:8']+data['ndc:9']+data['ndc:10']+data['ndc:11']+data['ndc:12']+
                       data['ndc:13']+data['ndc:14']+data['ndc:15']+data['ndc:16']+data['ndc:17']+
                       data['ndc:18'])/18
#Caldulo el promedio para las preguntas del beck
data['promedio beck'] = (data['beck:1']+data['beck:2']+data['beck:3']+data['beck:4']+data['beck:5']+data['beck:6']+
                        data['beck:7']+data['beck:8']+data['beck:9']+data['beck:10']+data['beck:11']+data['beck:12']+
                        data['beck:13']+data['beck:14']+data['beck:15']+data['beck:16']+data['beck:17']+data['beck:18']+
                        data['beck:19']+data['beck:20']+data['beck:21'])/21

### Calculo el p valor entre las respuestas puestas en el  ndc y en el beck








No había calculado antes el p valor de esta manera, estuve leyendo y según yo, es correcto en cómo lo hice, sin embargo, dejo aquí el cómo y por qué funciona
https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.linregress.html

In [11]:
'''

========================================PREGUNTA 1==========================================================

'''
ndc = data['ndc:1'].tolist()
beck = data['beck:1'].tolist()
slope, intercept, r_value, p_value, std_err = stats.linregress(ndc,beck)
print('Significacncia estadística entre la pregunta #1 entre el ndc y el beck',p_value)

Significacncia estadística entre la pregunta #1 entre el ndc y el beck 0.8566703381725043

In [12]:
'''

========================================PREGUNTA 2==========================================================

'''
ndc = data['ndc:2'].tolist()
beck = data['beck:2'].tolist()
slope, intercept, r_value, p_value, std_err = stats.linregress(ndc,beck)
print('Significacncia estadística entre la pregunta #2 entre el ndc y el beck',p_value)

Significacncia estadística entre la pregunta #2 entre el ndc y el beck 0.7343232192827238

In [13]:
'''

========================================PREGUNTA 3==========================================================

'''
ndc = data['ndc:3'].tolist()
beck = data['beck:3'].tolist()
slope, intercept, r_value, p_value, std_err = stats.linregress(ndc,beck)
print('Significacncia estadística entre la pregunta #3 entre el ndc y el beck',p_value)

Significacncia estadística entre la pregunta #3 entre el ndc y el beck 0.6056240032070425

In [14]:
'''

========================================PREGUNTA 4==========================================================

'''
ndc = data['ndc:4'].tolist()
beck = data['beck:4'].tolist()
slope, intercept, r_value, p_value, std_err = stats.linregress(ndc,beck)
print('Significacncia estadística entre la pregunta #4 entre el ndc y el beck',p_value)

Significacncia estadística entre la pregunta #4 entre el ndc y el beck 0.7909122275903053

In [15]:
'''

========================================PREGUNTA 5=========================================================

'''
ndc = data['ndc:5'].tolist()
beck = data['beck:5'].tolist()
slope, intercept, r_value, p_value, std_err = stats.linregress(ndc,beck)
print('Significacncia estadística entre la pregunta #5 entre el ndc y el beck',p_value)

Significacncia estadística entre la pregunta #5 entre el ndc y el beck 0.671644831321978

In [16]:
'''

========================================PREGUNTA 6==========================================================

'''
ndc = data['ndc:6'].tolist()
beck = data['beck:6'].tolist()
slope, intercept, r_value, p_value, std_err = stats.linregress(ndc,beck)
print('Significacncia estadística entre la pregunta #6 entre el ndc y el beck',p_value)

Significacncia estadística entre la pregunta #6 entre el ndc y el beck 0.4057515663311688

In [17]:
'''

========================================PREGUNTA 7==========================================================

'''
ndc = data['ndc:7'].tolist()
beck = data['beck:1'].tolist()
slope, intercept, r_value, p_value, std_err = stats.linregress(ndc,beck)
print('Significacncia estadística entre la pregunta #7 entre el ndc y el beck',p_value)

Significacncia estadística entre la pregunta #7 entre el ndc y el beck 0.3888537610071967

In [18]:
'''

========================================PREGUNTA 8==========================================================

'''
ndc = data['ndc:8'].tolist()
beck = data['beck:8'].tolist()
slope, intercept, r_value, p_value, std_err = stats.linregress(ndc,beck)
print('Significacncia estadística entre la pregunta #8 entre el ndc y el beck',p_value)

Significacncia estadística entre la pregunta #8 entre el ndc y el beck 0.7458382849754479

In [19]:
'''

========================================PREGUNTA 9==========================================================

'''
ndc = data['ndc:9'].tolist()
beck = data['beck:9'].tolist()
slope, intercept, r_value, p_value, std_err = stats.linregress(ndc,beck)
print('Significacncia estadística entre la pregunta #9 entre el ndc y el beck',p_value)

Significacncia estadística entre la pregunta #9 entre el ndc y el beck 0.9193794327635052

In [20]:
'''

========================================PREGUNTA 10==========================================================

'''
ndc = data['ndc:10'].tolist()
beck = data['beck:10'].tolist()
slope, intercept, r_value, p_value, std_err = stats.linregress(ndc,beck)
print('Significacncia estadística entre la pregunta #10 entre el ndc y el beck',p_value)

Significacncia estadística entre la pregunta #10 entre el ndc y el beck 0.11418007644811526

In [21]:
'''

========================================PREGUNTA 11==========================================================

'''
ndc = data['ndc:11'].tolist()
beck = data['beck:11'].tolist()
slope, intercept, r_value, p_value, std_err = stats.linregress(ndc,beck)
print('Significacncia estadística entre la pregunta #11 entre el ndc y el beck',p_value)

Significacncia estadística entre la pregunta #11 entre el ndc y el beck 0.13789793239274373

In [22]:
'''

========================================PREGUNTA 12==========================================================

'''
ndc = data['ndc:12'].tolist()
beck = data['beck:12'].tolist()
slope, intercept, r_value, p_value, std_err = stats.linregress(ndc,beck)
print('Significacncia estadística entre la pregunta #12 entre el ndc y el beck',p_value)

Significacncia estadística entre la pregunta #12 entre el ndc y el beck 0.03408052439451226

In [23]:
'''

========================================PREGUNTA 13==========================================================

'''
ndc = data['ndc:13'].tolist()
beck = data['beck:13'].tolist()
slope, intercept, r_value, p_value, std_err = stats.linregress(ndc,beck)
print('Significacncia estadística entre la pregunta #13 entre el ndc y el beck',p_value)

Significacncia estadística entre la pregunta #13 entre el ndc y el beck 0.932798519530498

In [24]:
'''

========================================PREGUNTA 14==========================================================

'''
ndc = data['ndc:14'].tolist()
beck = data['beck:14'].tolist()
slope, intercept, r_value, p_value, std_err = stats.linregress(ndc,beck)
print('Significacncia estadística entre la pregunta #14 entre el ndc y el beck',p_value)

Significacncia estadística entre la pregunta #14 entre el ndc y el beck 0.2945954456406049

In [25]:
'''

========================================PREGUNTA 15==========================================================

'''
ndc = data['ndc:15'].tolist()
beck = data['beck:15'].tolist()
slope, intercept, r_value, p_value, std_err = stats.linregress(ndc,beck)
print('Significacncia estadística entre la pregunta #15 entre el ndc y el beck',p_value)

Significacncia estadística entre la pregunta #15 entre el ndc y el beck 0.8035497234144808

In [26]:
'''

========================================PREGUNTA 16==========================================================

'''
ndc = data['ndc:16'].tolist()
beck = data['beck:16'].tolist()
slope, intercept, r_value, p_value, std_err = stats.linregress(ndc,beck)
print('Significacncia estadística entre la pregunta #16 entre el ndc y el beck',p_value)

Significacncia estadística entre la pregunta #16 entre el ndc y el beck 0.24857909543735213

In [27]:
'''

========================================PREGUNTA 17==========================================================

'''
ndc = data['ndc:17'].tolist()
beck = data['beck:17'].tolist()
slope, intercept, r_value, p_value, std_err = stats.linregress(ndc,beck)
print('Significacncia estadística entre la pregunta #17 entre el ndc y el beck',p_value)

Significacncia estadística entre la pregunta #17 entre el ndc y el beck 0.31819454786083207

In [28]:
'''

========================================PREGUNTA 18==========================================================

'''
ndc = data['ndc:18'].tolist()
beck = data['beck:18'].tolist()
slope, intercept, r_value, p_value, std_err = stats.linregress(ndc,beck)
print('Significacncia estadística entre la pregunta #18 entre el ndc y el beck',p_value)

Significacncia estadística entre la pregunta #18 entre el ndc y el beck 0.23663268179227998

In [31]:
'''

========================================COMPARACIÓN DE PROMEDIOS==========================================================

'''
ndc = data['promedio ndc'].tolist()
beck = data['promedio beck'].tolist()
slope, intercept, r_value, p_value, std_err = stats.linregress(ndc,beck)
print('Significacncia estadística entre la pregunta #18 entre el ndc y el beck',p_value)

Significacncia estadística entre la pregunta #18 entre el ndc y el beck 0.014612302707052351